
*
{
	padding: 0;
	margin: 0;
}
body 
{
	background-size:  100vw 100vh;
	background-attachment: fixed;
	font-family: monospace;
}

form 
{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 50px;
	border-radius: 15px;
}

h2 
{
	text-align: center;
	color: white;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}

input 
{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
}

label
{
	font-family: monospace;
	padding: 7px;
	color: white;
	text-align: center;
}

#boton 
{
	padding: 20px;
	color: white;
	background-color: #957220;
}

#boton:hover
{
	cursor: pointer;
}

@media (max-width: 480px;)
{
	form 
	{
		width: 100%;
	}
}